@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
}

.MuiDrawer-paper {
  min-width: 290px;
  margin-top: 62px;
  border-right: 2px solid #ccc;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.MuiListItemText-primary {
  font-family: 'Oxygen', sans-serif;
  color: #1f2232;
  letter-spacing: 0.05em;
}

/* .MuiTextField-root {
  margin-left: 16px;
  padding: 10px 10px 10px 0;
} */

form {
  background-color: white;
}

.MuiInputBase-input {
  background-color: #f5f5f5;
}

.MuiSlider-root {
  color: #006699;
}

.Mui-disabled {
  color: grey;
}

.Mui-selected {
  background-color: aliceblue;
}

.MuiButtonBase-root {
  padding: 10px 0 10px 0;
  padding-left: 16px;
}

/* smaller screens */
@media (max-height: 600px) {
  #legend {
    bottom: 20px;
    left: 15px;
  }
  #legend-label {
    /* smaller screens */
    font-size: 0.75rem;
  }
}

/* larger screens */
@media (min-height: 600px) {
  #legend {
    /* smaller screens */
    bottom: 20px;
    right: 15px;
  }
  #legend-label {
    /* smaller screens */
    font-size: 1rem;
  }
}
